/* we don't use display: none; here because we don't want to mess with load-more */
.ignored-op-topic {
  // force overwrite for topic thumbnail component
  height: 0 !important;
  position: fixed !important;
  width: 0;
  bottom: -100vh;
}

